@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --font: "Poppins", sans-serif;
  --bg-color: #333333;
  --bg-footer: #f6f6f6;
  --main-text-color: #3a3a3a;
  --white-text-color: #eee8e8;
  --nav-text-color: #5d6b82;
  --pantone: #3cdbc0;
}

body {
  font-family: var(--font);
  color: var(--main-text-color);
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1.7fr 0.7fr 1fr;
}

img {
  width: 9rem;
  margin-bottom: -1rem;
}

.column1 {
  margin: 2rem;
  margin-top: 1rem;
}

.column2 {
  text-align: right;
  margin: 2rem;
  margin-top: 4rem;
}

.column3 {
  background-color: var(--bg-color);
  color: var(--white-text-color);
  height: 100vh;
}

.aside {
  margin: 2rem;
  margin-top: 7rem;
}

.swatches li {
  border-radius: 5px;
  width: 8.5rem;
  height: 6rem;
  margin-bottom: 1.5rem;
  color: var(--nav-text-color);
}

.swatches p {
  font-size: 14px;
  margin-top: 6.7rem;
}

ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin-left: -2.3rem;
}

.products div {
  width: 200px;
  height: 300px;
  border-radius: 35px;
  box-shadow: 0 0 14px 4px #3cdbc08a;
  cursor: pointer;
  margin-left: auto;
}

.products div:hover {
  box-shadow: 0 0 16px 7px #3cdbc08a;
}

.gradient div {
  width: 650px;
  height: 160px;
  border-radius: 5px;
  background: linear-gradient(
    -45deg,
    #3cdbc100,
    #3cdbc15d,
    #3cdbc0,
    #3cdbc15d,
    #3cdbc100
  );
  background-size: 700% 700%;
  animation: move-bg 9s linear infinite;
}

@keyframes move-bg {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.typography h1 {
  font-size: 45px;
  margin: 0;
  font-weight: 500;
}

.typography h2 {
  font-size: 30px;
  margin-bottom: 0.4rem;
  font-weight: 500;
}

.typography p:nth-of-type(3) {
  font-size: 16px;
  margin-top: 1.7rem;
  letter-spacing: 0.02rem;
}

p.font-details {
  margin-top: -0.4rem;
  font-size: 13px;
  color: var(--nav-text-color);
}

.section-heading {
  font-style: italic;
  color: var(--nav-text-color);
  margin-top: 3rem;
}

.color1 {
  background: var(--nav-text-color);
}

.color2 {
  background: var(--pantone);
}

.color3 {
  background: var(--bg-color);
}

.color4 {
  background: var(--white-text-color);
}

.button_dark {
  font-family: var(--font);
  font-size: 20px;
  font-weight: 600;
  color: var(--pantone);
  width: 200px;
  border: none;
  box-shadow: 0 0 5px 4px #3cdbc08a;
  border-radius: 11px;
  padding: 6px;
  background: #403e3e;
  cursor: pointer;
}

.button_dark:hover {
  box-shadow: 0 0 10px 5px #3cdbc08a;
}

.button_light {
  font-family: var(--font);
  font-size: 20px;
  font-weight: 600;
  color: var(--pantone);
  width: 200px;
  border: none;
  box-shadow: 0 0 6px 5px #3cdbc08a;
  border-radius: 11px;
  padding: 6px;
  background: none;
  cursor: pointer;
  margin-left: 2rem;
}

.button_light:hover {
  box-shadow: 0 0 9px 7px #3cdbc08a;
}

a {
  text-decoration: none;
  position: relative;
  color: var(--pantone);
  font-size: 20px;
  font-weight: 600;
}

a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0.18);
  height: 2.5px;
  bottom: -2px;
  left: 0;
  background-color: var(--pantone);
  transform-origin: bottom left;
  transition: transform 0.2s ease-out;
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
